.App {
  font-family: sans-serif;
  text-align: center;
}
input {
  margin: 0 0 30px 0;
  padding: 5px 10px;
}
.button-complete {
  margin: 5px;
  color: white;
  background-color: #07c207;
  padding: 5px 20px;
  border: none;
  font-weight: 900;
  border-radius: 8px;
  cursor: pointer;
}
.button-incomplete {
  margin: 5px;
  color: #07c207;
  background-color: transparent;
  padding: 5px 20px;
  font-weight: 900;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid #07c207;
}
.button-delete {
  margin: 5px;
  color: white;
  background-color: red;
  padding: 5px 20px;
  border: none;
  font-weight: 900;
  border-radius: 8px;
  cursor: pointer;
}
.button-add {
  margin: 5px;
  color: white;
  background-color: #07c207;
  padding: 7px 20px;
  border: none;
  font-weight: 900;
  cursor: pointer;
}
li {
  list-style-type: decimal;
}
.strike-red {
  color: #07c207;
}
